body {
	background: #eee;
	font: 15px sans-serif;
}

td {
	padding: 20px;
	vertical-align: top;
}

small {
	display: block;
	margin-top: -20px;
	margin-bottom: 10px;
}

textarea {
	font: 15px sans-serif;
	height: 100px;
	width: 600px;
}

button {
	border: none;
	font-size: 17px;
	color: #fff;
	background: #333;
	border-bottom: 3px solid #444;
	text-transform: uppercase;
	padding: 6px 12px;
}

.rtl {
	text-align: right;
}

.box {
	background: #fff;
	padding: 16px;
	border: 1px solid #ccc;
}

#small_box {
	width: 150px;
}

#medium_box {
	width: 200px;
}

#landscape_box {
	width: 400px;
}